
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    
    background:#102c54;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contenedor-principal {
    width: 90%; 
    max-width: 1200px; 
    margin: 20px auto; 
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    border-radius: 15px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
}


header {
    text-align: center;
    padding: 20px 0;
    color:white;
    border-radius: 10px 10px 0 0; 
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


main {
    padding: 20px 0;
}

section {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 15px;
    border-radius: 10px;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(51, 51, 51, 0.8); 
    color: white;
    border-radius: 0 0 10px 10px; 
}
.logo{
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
    height: auto;
    
    
}
#menu-btn {
    position: fixed; /* Fija el botón en la pantalla */
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
}

.menu-icon {
    width: 30px;
    height: 30px;
}


.menu {
    position: fixed;
    top: 60px; 
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; 
    z-index: 1000; 
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
}

.menu ul li:hover {
    background-color: #f0f0f0;
}